<a href="https://colab.research.google.com/github/qhvlbordeos/CPE310-IE22S1/blob/main/BordeosExercise1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input('Enter your Name:\n')
print("Hello,", name, "Welcome to the Philippines!")

Enter your Name:
Hyrum
Hello, Hyrum Welcome to the Philippines!

In [1]:
Hours = float(input('Enter Hours: '))
Rate = float(input('Enter Rate: '))
Pay = Hours * Rate
print('Pay:', Pay)

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

In [2]:
Width = float(input('Enter Width: '))
Height = float(input('Enter Height: '))

print("\nAnswer of the ff.")
print(Width//2)
print(Width/2.0)
print(Height/3)
print(1 + 2 * 5)

Enter Width: 17
Enter Height: 12

Answer of the ff.
8.0
8.5
4.0
11

In [ ]:
inp = input('Enter Celcius Temperature: ')
cel = float(inp)
fahr =(cel * 9/5) + 32
print(fahr , "F")

Enter Celcius Temperature: 40
104.0 F

In [ ]:
hours = float(input("Enter Hours: "))
rate = float(input("Enter Rate: "))

if hours > 40:
    overtime = hours - 40
    pay = (40 * rate) + (overtime * rate * 1.5)
else:
    pay = hours * rate

print("Pay:", pay)

Enter Hours: 150
Enter Rate: 45
Pay: 9225.0

In [ ]:
try:
    hours = float(input("Enter Hours: "))
    rate = float(input("Enter Rate: "))
except:
    print("Error, please enter numeric input")
    quit()

if hours > 40:
    overtime = hours - 40
    pay = (40 * rate) + (overtime * rate * 1.5)
else:
    pay = hours * rate

print("Pay:", pay)

Enter Hours: 12
Enter Rate: 40
Pay: 480.0

In [ ]:
try:
    score = float(input("Enter score: "))
except:
    print("Bad score")
    quit()

if score < 0.0 or score > 1.0:
    print("Bad score")
elif score >= 0.9:
    print("A")
elif score >= 0.8:
    print("B")
elif score >= 0.7:
    print("C")
elif score >= 0.6:
    print("D")
else:
    print("F")

Enter score: .999
A